.alunos {
    height: 100%;
  display: flex;
  justify-content: center;
    width: 100%;
   align-items: center;
  
  }
  
  .alunosContent{
  background-color: rgb(255, 255, 255);
  
    justify-content: center;
    align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
   width: 95%;
   height: 95vh;
  
  
  }
  .gridAlunoItemTrue{  
   margin: 50px 50px 0px 50px;
   border-left: 15px solid rgb(76, 175, 80);
   border-bottom: 5px solid rgb(76, 175, 80);
   border-top: 5px solid rgb(76, 175, 80);
   border-right: 1px solid rgb(76, 175, 80);
  }
  .gridAlunoItemFalse{  
    margin: 50px 50px 0px 50px;
    border-left: 15px solid #FF5252;
    border-bottom: 5px solid #FF5252;
    border-top: 5px solid #FF5252;
    border-right: 1px solid #FF5252;
   }
  