.cadastro{
   
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
vertical-align: top;


}
.textfield{
   margin: 10px!important;
   width: 400px;
}
.containerCadastro{
    display: flex;
    justify-content: center;    
    width: 95%!important;
    height: 95vh;
    background-color: rgb(255, 255, 255);
}