.alunos {
  height: 100%;
display: flex;
justify-content: center;
  width: 100%;
 align-items: center;

}

.alunosContent{
background-color: rgb(255, 255, 255);

  justify-content: center;
  align-items: center;
display: flex;
flex-wrap: wrap;
overflow-y: auto;
 width: 95%;
 height: 95vh;


}
.gridAlunoItem{  
 margin: 50px 50px 0px 50px;
}
