.alunos {
  height: 100%;
display: flex;
justify-content: center;
  width: 100%;



}

.alunosContent{

  justify-content: center;
  
display: flex;
flex-wrap: wrap;

 width: 60%;
}
.gridAlunoItem{
  width: 250px!important; 
  margin: 20px;

}