.alunos {
  height: 100%;
display: flex;
justify-content: center;
  width: 100%;
 align-items: center;



}

.alunosContent{
justify-content: center;
align-items:center;
 
display: flex;
flex-wrap: wrap;
overflow-y: auto;
width: 100%;
 height: 100%;



}
.gridAlunoItemTrue{  
 margin: 50px 50px 0px 50px;
 border-left: 15px solid rgb(76, 175, 80);
 border-bottom: 5px solid rgb(76, 175, 80);
 border-top: 5px solid rgb(76, 175, 80);
 border-right: 1px solid rgb(76, 175, 80);
}
.gridAlunoItemFalse{  
  margin: 50px 50px 0px 50px;
  border-left: 15px solid #FF5252;
  border-bottom: 5px solid #FF5252;
  border-top: 5px solid #FF5252;
  border-right: 1px solid #FF5252;
 }
 .inputBase{

   background-color: rgb(76, 175, 79);
   color:#fff!important;
  width: 200px;
  height: 100%;
margin: 5px 10px 0px 0px;
padding: 5px 5px 5px 10px;
z-index: 10;
 }

 .barSearch{

   height: 40px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
 
 }
