.main{
width: 100vw;
height: 100vh;
}
.appbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #000;
}
.appbar img{
    height: 100%;
    width: 100%;  
   
}

.logo{
    height: 100%;
    width: 20%;
    
   
}

 
.buttons a{
outline: none;
text-decoration: none;
}

.buttons button{
    margin: 10px;
    width: 150px;
    font-size: 12px;
}
.container{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.spaceBar{
    width: 80%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
   
}
.buttons .mobile{
    display: none;
}


.container{
    margin: 0px!important;
    
}

.toolbar{
    display: flex;
    justify-content: center;

 width: 80%;
}
.app{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row!important;
}
.app .titleLogo{
    width: 20%;
}

@media (max-width: 600px){
    .menuMobile{
        animation-name: openAppbar;
        animation-duration: 1s;
        animation-fill-mode: forwards;
       
        width: 100%;
        background-color:rgba(0, 0, 0, 0.116);
       justify-content: center;
       align-items: center;
        z-index: 10;
        position: absolute;
     top: 70px;
        display: flex;
        flex-wrap: wrap;
       
    }
    .menuMobile button{      
        text-decoration: none;
           width: 200px;
        height: 50px;
        font-size: 14px;
        margin: 10px ;
           background-color: #000!important;
           color:#fff 
       }
       
    .menuMobile a{
        text-decoration: none;
        
       }
   
    .logo{
    height: 100%;
    width: 50%;
    
   
}
    .buttons{
       justify-content: flex-end;
       width: 50%;
    }
    .spaceBar{
        width: 100vw;
    }
    .buttons .mobile{
        display: inline;

    }
    
.buttons button{
    display: none;
}
.buttons button:hover {
    background-color: transparent!important;
    color:  #fff;
    
}

}

@keyframes openAppbar{
    from{
height: 0;
opacity: 0;
    }to{
        opacity: 1;
height: 300px;
    }
}