.main{
width: 100vw;
height: 100vh;

}

.appbar img{
    height: 100%;
    width: 100%;  
   
}

.logo{
    height: 100%;
    width: 20%;
    
    
   
}

 
.buttons a{
outline: none;
text-decoration: none;
}


.buttons button{
    margin: 10px 0px;
    height: 50px;
    width: 100%;
    font-size: 12px;
    border: none!important;
    color: #fff;  
  align-items:center;
  justify-content:center;
 

}
.textButtonToggle{
    margin-left: 5px;
animation-name: toggleTextButton;
animation-duration: 1s;


}
.buttons button:hover{
    animation-name: toggleTextButton;
animation-duration: 1s;
}


.container{
    display: flex;
    justify-content: center;
  overflow: hidden;
  margin: 0px!important;
}

.buttons .mobile{
    display: none;
}



.toolbar{
    display: flex;
    justify-content: center;
height: auto;
 width: 100%;
 padding: 0px!important;
 margin: 0px!important;
}
.app{
    background-color: #4CAF50!important;
  display: flex;
   overflow-y: auto;

 
   
    height: 100vh;
}

.titleLogo{
    background-color: #4CAF50!important;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    height: 0px;
    
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0px;
    
  }
  .fab{
    background-color: #fff!important;
  }
  .fab strong{
      font-size: 15px;
      font-weight: 900;
    
     
  }

@media (max-width: 600px){
    .menuMobile{
        animation-name: openAppbar;
        animation-duration: 1s;
        animation-fill-mode: forwards;
       
        width: 100%;
        background-color:rgba(0, 0, 0, 0.116);
       justify-content: center;
       align-items: center;
        z-index: 10;
        position: absolute;
     top: 70px;
        display: flex;
        flex-wrap: wrap;
       
    }
    .menuMobile button{      
        text-decoration: none;
           width: 200px;
        height: 50px;
        font-size: 14px;
        margin: 10px ;
           background-color: #000!important;
           color:#fff 
       }
       
    .menuMobile a{
        text-decoration: none;
        
       }
   
    .logo{
    height: 100%;
    width: 50%;
    
   
}
    .buttons{
       justify-content: flex-end;
       width: 50%;
    }
    .spaceBar{
        width: 100vw;
    }
    .buttons .mobile{
        display: inline;

    }
    
.buttons button{
    display: none;
}
.buttons button:hover {
    background-color: transparent!important;
    color:  #fff;
    
}

}

@keyframes openAppbar{
    from{
height: 0;
opacity: 0;
    }to{
        opacity: 1;
height: 300px;
    }
}


@keyframes toggleTextButton{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}